.pagina-cadastro {

    * {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 0em;
        
        
       
    }

   

    img {
        margin-bottom: 13vh;
    }

    input {
        border: none;
        border-radius: 1vh;
        font-family: Andale Mono, monospace;
        font-size: 25px;
    }

    .cadastro {
        color: white;
        
    }
    
    .container-mae{
        height: 12 50px;
        background-color: #000000;
        align-items: center;
        
    }

    .img1 {
        width: 50vh;
        height: 50vh;
    }


    .marcas {
       
        width: 57vh;
        height: 8.5vh; 
        margin-right: 10.5vh;
        border-radius: 1vh;
        margin-bottom: 7vh;
        font-size: 25px;
        border: none;
        
        
        
    }

    .cor {
        width: 57vh;
        height: 8.5vh;
        margin-bottom: 7vh
        
    }

    .nprod {
        width: 125vh;
        height: 15vh;
        display: flex;
        margin-bottom: 7vh;
        
    }

    .primeiro-con {
        display: flex;
        flex-direction: row;

        
        
    }

    .quant {
        
        margin-left: 10vh;
        width: 57vh;
        height: 8.5vh;
        margin-bottom: 7vh
    }

    .prqu {
        width: 57vh;
        height: 8.5vh;
        margin-bottom: 7vh;
    }



    .segundo-con {
        display: flex;
        flex-direction: row;
        
    }

    .terceiro-con {
        display: flex;
        flex-direction: row;
    }

    .terc-c {
        flex-direction: column;
        margin-left: 10vh;
        
    }

    .descricao {
        width: 57vh;
        height: 20vh;
        margin-bottom: 10vh;
    }
    .tamanho {
        width: 57vh;
        height: 8.5vh;
        margin-top: -9vh;
        margin-bottom: 7vh;
    }

        .botao-salvar {
            background-color: white;
            padding: 1vh 3vh;
            margin-left: 45.5vh;
            font-size: 20px;
            text-decoration: none;
            color: #000;
        }
  

     



  

}