.pagina-carrinho {
    background-color: #000;
  

    .p{
    padding-top: 100px;
    }

    .menu{
        display: flex;
        color: #fff;
        font-size: 11px;
        justify-content: space-between;
        font-family: sans-serif;
        align-items: center;
        background: #000;
        padding: 0.7rem;
        

    }

    .carrinho {
        display: flex;
        align-items: center;
        justify-content: space-around;
        
    }


    #tn {
        width: 10000px;
        height:250px;
        background: white;
        
        }


        .text{
            width:550px;
            height: 10px;
           
            align-items: center;
            
        }


        .preco{

            width: 270px;
            height: 4px;


        }

        .png{
 
            float: left;
            border: transparent thin solid;
            padding: 1px;
            max-width: 190px;

          }

        .lixeira{

            width: 25px;
            height: 35px;

        }


 
          
    .itens {
        flex-grow: 1;
    }


        button {
            margin-top: 6px;
            font-size: 12px;
            background-color: red;
        }

  
}