.pagina-carrinho {
    

    .div-principal{
        border: solid red;
        display: flex;
    }

    button {
        outline: none;
        border: none;
        background-color: #ff0000;
        color: #fff;
        padding: .8em 1.5em;
        border-radius: 2em;
        transition: .3s;
      
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
      }
      button:hover {
        background-color: #ff0000;
      }
  

    .tenis{
        width: 200px ;
        height: 130px;
    }

    .lixeira{
        width: 25px ;
        height: 25px;
    }

    .menu{
        width: 1020px ;
        height: 70px;
        background-color: black;
    }

    .carrinho{

        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
    }

}
